<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @category_groups.each do |category_group| %>
        <tr>
          <td><%= category_group.name %></td>
          <td>
            <div class="btn-group" role="group">
              <%= link_to('Show', category_group, class: 'btn btn-sm btn-info') if policy(category_group).show? %>
              <%= link_to('Edit', edit_category_group_path(category_group), class: 'btn btn-sm btn-warning') if policy(category_group).update? %>
              <%= link_to('Destroy', category_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger') if policy(category_group).destroy? %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <%= link_to 'New Category Group', new_category_group_path, class: 'pull-right btn btn-primary' %>
  </div>
</div>
