<div class="row">
  <div class="col-md-10">
    Transactions for account <%= @account.name %>
  </div>
  <div class="col-md-2 pull-right">
    <%= link_to 'New Transaction', new_transaction_path, class: 'pull-right btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Date</th>
            <th>Memo</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.category_name %></td>
              <td><%= formatted_date(transaction.occurred_at) %></td>
              <td><%= transaction.memo %></td>
              <td><%= transaction.credit %></td>
              <td><%= transaction.debit %></td>
              <td>
                <div class="btn-group" role="group">
                  <%= link_to('Edit', edit_transaction_path(transaction), class: 'btn btn-sm btn-warning') if policy(transaction).update? %>
                  <%= link_to('Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', role: 'button') if policy(transaction).destroy? %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @transactions %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 pull-right">
    <%= link_to 'New Transaction', new_transaction_path, class: 'pull-right btn btn-primary' %>
  </div>
</div>
