<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Budget Me", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if logged_in? %>
        <li><%= link_to 'Log out', logout_url, method: :delete %></li>
        <% else %>
        <li><%= link_to "Log in", login_url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
