<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Budget Me", root_url, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
        <li<%== active_link?('accounts') %>><%= link_to "Accounts", accounts_url %></li>
        <li<%== active_link?('transactions') %>><%= link_to "Transactions", transactions_url %></li>        
        <li<%== active_link?('category_groups') %>><%= link_to "Category Groups", category_groups_url %></li>
        <li<%== active_link?('categories') %>><%= link_to "Categories", categories_url %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to 'Log out', logout_url, method: :delete %></li>
        <% else %>
        <li<%== active_link?('sessions') %>><%= link_to "Log in", login_url %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
